body {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    font-size: 13px;
    color: #fff;
    margin: 0;
}

a {
    font-size: 13px;
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

button{
    outline:none !important
}

input {
    outline: none !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hat {
    background: #232323;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
}

.hat::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 3px;
    width: 1146px;
    background: #CB463D;
    background: linear-gradient(276deg, #cb463d, #e5ab37);
    background-position: 0 50px;
    background-size: 400% 400%;
    animation: pulse-color 4s ease-in infinite;
}

.menu__list,
.hat__btns {
    display: flex;
    align-items: center;
}

.menu__list-item {
    float: left;
    margin-left: 44px;
}

.menu__list-item:first-child {
    margin-left: 0;
}

.house-icon {
    margin-right: 15px;
    width: 21px;
    height: 21px;
}

.a_hover {
    position: relative;
}

.a_hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: #fb611a;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.a_hover:hover {
    color: #fb611a;
    text-decoration: none;
}

.a_hover:hover::before {
    visibility: visible;
    width: 100%;
}

.a_hover-main::before {
    bottom: -8px;
}

.hat__btns {
    float: right;
}

.btn-wrap:first-child {
    margin-right: 23px;
}

.btn-wrap:last-child {
    margin-right: 4px;
}

.hat__btn {
    padding: 9px 40px;
    border-radius: 4px;
    border: 2px solid #fff;
    background: -moz-linear-gradient(45deg, rgb(202, 69, 61) 0%, rgb(173, 91, 52) 56%, rgb(229, 172, 54) 99%);
    background: -webkit-linear-gradient(45deg, rgb(202, 69, 61) 0%, rgb(173, 91, 52) 56%, rgb(229, 172, 54) 99%);
    background: -ms-linear-gradient(45deg, rgb(202, 69, 61) 0%, rgb(173, 91, 52) 56%, rgb(229, 172, 54) 99%);
    transition: 0.2s;
    color: #fff !important;
    cursor: pointer;
}

.hat__btn:hover {
    box-shadow: 3px 4px 40px 15px rgba(221, 92, 31, 0.15), 3px 4px 0 0 #93441d;
}

.choice-lang {
    display: flex;
    align-items: center;
}

.curr-lang-name {
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    float: left;
}

.lang {
    border-radius: 50%;
    display: block;
    border: 2px solid transparent;
}

.lang:hover {
    border: 2px solid #c03528;
}

.lang:hover > .lang-ico {
    margin-top: 0;
}

.lang-active {
    border: 2px solid #c06532;
}

.lang-active > .lang-ico {
    margin-top: 0;
}

.lang-ico {
    width: 22px;
    height: 22px;
    margin-top: 2px;
}

.lang-menu-item {
    float: left;
    margin-left: 14px;
}

.lang-menu {
    padding-right: 16px;
}

.body-content {
    background: url("../img/main-bg.jpg") no-repeat center top;
}

.header {
    position: relative;
}

._image {
    position: absolute;
    z-index: 20;
    pointer-events: none;
}

._image-1 {
    top: 38px;
    left: 380px;
}

._image-2 {
    top: 108px;
    left: 945px;
}

._image-3 {
    top: 320px;
    left: -20px;
}

._image-4 {
    top: 304px;
    left: 780px;
}

._image-5 {
    top: 272px;
    left: 945px;
}

._image-6 {
    top: 350px;
    left: 1073px;
}

._image-7 {
    top: 410px;
    left: 208px;
}

._image-8 {
    top: 470px;
    left: 975px;
}

._image-9 {
    top: 586px;
    left: 30px;
}

._image-10 {
    top: 666px;
    left: 249px;
}

._image-11 {
    top: 744px;
    left: 360px;
}

._image-12 {
    top: 725px;
    left: 780px;
}

._image-13 {
    top: 572px;
    left: 848px;
}

._image-14 {
    top: 648px;
    left: 975px;
}

._image-15 {
    top: 786px;
    left: 1073px;
}

._image-16 {
    top: -141px;
    left: -103px;
}

._image-17 {
    top: -44px;
    left: -3px;
}

._image-18 {
    top: 17px;
    left: 176px;
}

._image-19 {
    top: -8px;
    left: 1116px;
}

._image-20 {
    top: 69px;
    left: 253px;
    animation: pulse 1.5s infinite linear;
}

._image-21 {
    top: 300px;
    left: 1050px;
    animation: pulse 1.2s infinite linear;
}

._image-fox {
    margin: -286.5px -295.5px;
    top: 470px;
    left: 50%;
    z-index: 15;
    animation: pulse 4s infinite linear;
}

._image-fox-bg {
    margin: -608px;
    z-index: 10;
    left: 50%;
    top: 500px;
    animation: broken-lamp 4s infinite linear;
}

.logo {
    top: 30px;
    left: 5px;
    animation: pulse 3s infinite linear;
}

._image-fox-circle {
    margin: -49% -41%;
    left: 50%;
    top: 622px;
}

._image-fox-bg {
    margin: -285px -500px;
    z-index: 10;
    left: 50%;
    top: 470px;
}

._image-foxicash {
    margin: -50% -50%;
    left: 50%;
    top: 1248px;
    animation: broken-lamp 2s infinite linear;
}

._image-mines-game {
    width: 178px;
    top: 20px;
    left: 20px;
    box-shadow: 7px 7px 30px 0 #000;
    border-radius: 10px;
}

.header__title-wrap {
    margin-top: 864px;
    text-align: center;
}

.header__title {
    color: #dc6125;
    font-size: 115px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.header__title span {
    color: #fdfdfd;
}

.header__title-desc {
    font-size: 24px;
    color: #fff;
}

.header__title-desc_right {
    margin-left: 23px;
}

.header__title-wrap {
    margin-bottom: 77px;
}

.stats {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.stats::before {
    content: "";
    display: block;
    position: absolute;
    margin: 0 -472.5px;
    left: 50%;
    top: 0;
    height: 1px;
    width: 945px;
    background: #5e554f;
}

.stats::after {
    content: "";
    display: block;
    position: absolute;
    margin: 0 -472.5px;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 945px;
    background: #5e554f;
}

.stats__item {
    float: left;
    background: url("../img/tic-bg.png") no-repeat center top;
    margin-left: 43px;
    padding: 13px 20px 15px 20px;
    width: 130px;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    position: relative;
    z-index: 5;
}

.stats__item:first-child {
    margin: 0;
}

.stats__item:first-child .stats__desc {
    margin-top: 12px;
}

.stats__item:hover {
    transform: scale(1.1);
}

.stats__desc {
    font-size: 13px;
    font-weight: 900;
    color: #969696;
    margin-top: 6px;
}

.stats__num {
    margin-top: -3px;
    font-weight: 900;
    color: #000;
    font-size: 30px;
}

.stats__carousel {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 50px 28px 60px;
    border-radius: 5px;
    position: relative;
}

.stats__list {
    position: relative;
}

.stats__list::before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    width: 2px;
    height: 129px;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.carousel__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 28px;
    display: inline-block;
}

.carousel__text {
    font-size: 14px;
    color: #fff;
    text-align: justify;
}

.nav-owl {
    color: #5e5b58;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin: -8px -5.5px;
}

.owl-nav {
    height: 0;
}

.nav-left {
    left: 20px;
}

.nav-right {
    right: 20px;
}

.nav-owl:hover {
    color: #fff;
}

.carousel__box {
    padding-left: 123px;
    background: url("../img/giftbox.svg") no-repeat center left;
    background-size: 100px;
}

.carousel__star {
    padding-left: 123px;
    background: url("../img/star.svg") no-repeat center left;
    background-size: 100px;
}

.carousel__crown {
    padding-left: 123px;
    background: url("../img/crown.svg") no-repeat center left;
    background-size: 100px;
}

.carousel__price {
    padding-left: 123px;
    background: url("../img/price.svg") no-repeat center left;
    background-size: 100px;
}

.game__wrap {
    margin-top: 161px;
    margin-bottom: 84px;
    padding: 23px 35px 38px 453px;
    background: rgba(0, 0, 0, 0.2) url("../img/bomb-bg.png") no-repeat left top;
    border-radius: 5px;
    position: relative;
}

.game__title {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.game__desc {
    margin-bottom: 40px;
}

.more-games {
    text-align: center;
    margin-bottom: 64px;
    font-size: 14px;
}

.mines-game {
    position: relative;
}

.footer::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    height: 3px;
    width: 1146px;
    background: #CB463D;
    background: linear-gradient(276deg, #cb463d, #e5ab37);
    background-position: 0 50px;
    background-size: 400% 400%;
    animation: pulse-color 4s ease-in infinite;
}

.footer {
    padding-top: 61px;
    background: #232323;
    position: relative;
}

.footer__menu {
    float: left;
    margin-left: 100px;
}

.footer__menu:first-child {
    margin-left: 70px;
}

.list__title {
    font-size: 14px;
    font-weight: 700;
}

.footer__list-title {
    margin-bottom: 36px;
}

.footer__list-item {
    margin-top: 15px;
}

.footer__up {
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer__up-btn {
    background: #393939;
    border-radius: 3px;
    padding: 0 10px;
    display: inline-block;
    font-size: 30px;
}

.footer__bot {
    text-align: center;
    padding: 27px 0;
    background: #343434;
    margin-top: 84px;
}

.modal-content {
    border-radius: 3px;
    border: 3px solid #ce8d56;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 10px 0 30px 0 rgba(51, 51, 51, 0.1);
    padding: 20px 74px 30px 74px;
}

.modal_title {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Geometria", sans-serif;
    font-weight: 900;
    color: rgb(206, 214, 221);
    text-transform: uppercase;
    text-align: center;
}

.modal_label {
    font-size: 13px;
    font-family: "Geometria", sans-serif;
    color: rgb(58, 58, 58);
    font-weight: 900;
    width: 80px;
}

.modal_input {
    border: 1px solid rgb(206, 214, 220);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 260px;
    outline: none;
    padding: 7px 10px;
}

.input_wrap {
    margin: 20px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-form {
    padding-top: 40px;
}

.modal_btn {
    border: none;
    border-radius: 2px;
    background: url("../img/reg-btn.png") no-repeat top left;
    color: #fff;
    padding: 10px 22px;
    display: block;
    margin: 0 auto;
    outline: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.modal_btn:hover {
    -webkit-box-shadow: 5px 5px 33px 2px rgb(173, 79, 25);
    -moz-box-shadow: 5px 5px 33px 2px rgb(173, 79, 25);
    box-shadow: 5px 5px 33px 2px rgb(173, 79, 25);
    background: url(../img/reg-btn-2.png) no-repeat top left;
}

.login-btn {
    padding: 10px 43px;
}

.help-link {
    font-size: 13px;
    font-weight: 900;
    color: rgb(206, 214, 221);
    float: right;
    position: relative;
    margin-bottom: 10px;
}

.forgot-repass-btn {
    padding: 10px 18px;
}

.modal {
    padding: 0 !important;
}

.foxy-logo {
    animation: broken-lamp 4s infinite linear;
}

.foxy-logo-mines {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes broken-lamp {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.2;
    }
    15% {
        opacity: 0.8;
    }
    37% {
        opacity: 0.4;
    }
    41% {
        opacity: 0.7;
    }
    54% {
        opacity: 0.1;
    }
    70% {
        opacity: 1;
    }
    77% {
        opacity: 1;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.8;
    }
    97% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.menu__open {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 31;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.menu__open::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#e37f4a), color-stop(20%, #e37f4a), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #e37f4a), color-stop(60%, #e37f4a), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #98B296), to(#98B296));
    background: linear-gradient(to bottom, #e37f4a, #e37f4a 20%, transparent 20%, transparent 40%, #e37f4a 40%, #e37f4a 60%, transparent 60%, transparent 80%, #e37f4a 80%, #e37f4a 100%);
    -webkit-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

.menu__open::after {
    opacity: 0;
    content: '×';
    color: #fff;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.menu__open:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.menu__open:hover {
    opacity: 1;
}

.open .menu__open {
    opacity: 1;
}

.open .menu__open::before {
    opacity: 0;
    width: 0;
}

.open .menu__open::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
    -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
    /*transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;*/
    /*transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;*/
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

.phone__nav {
    z-index: 30;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.phone__nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(104, 74, 55, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.open .phone__nav {
    top: 0;
}

.open .phone__nav::before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
}

ul.phone__menu {
    position: fixed;
    top: 50%;
    left: 38%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    float: left;
}

ul.phone__menu li {
    opacity: 0;
    text-align: left;
    -webkit-transform: translate3d(0, 36px, 0);
    transform: translate3d(0, 36px, 0);
}

ul.phone__menu li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: auto;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.14s ease-out;
    transition: width 0.14s ease-out;
}

ul.phone__menu li::after {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #98B296;
    overflow: hidden;
    -webkit-transform: translate(-24px, 6px);
    transform: translate(-24px, 6px);
    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

ul.phone__menu li:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

ul.phone__menu li:hover::after {
    opacity: 1;
    padding: 0 20px;
    -webkit-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
    -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}

.open ul.phone__menu li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.open ul.phone__menu li:nth-child(1) {
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.open ul.phone__menu li:nth-child(2) {
    -webkit-transition-delay: 0.85s;
    transition-delay: 0.85s;
}

.open ul.phone__menu li:nth-child(3) {
    -webkit-transition-delay: 0.95s;
    transition-delay: 0.95s;
}

.open ul.phone__menu li:nth-child(4) {
    -webkit-transition-delay: 1.05s;
    transition-delay: 1.05s;
}

.phone__link {
    font-size: 30px;
}

.menu__open {
    display: none;
}

@-webkit-keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }
    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }
    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

.chat-block {
    text-align: center;
    display: inline-block;
    position: fixed;
    right: 53px;
    top: 106px;
    z-index: 200;
}

.chat-block .chat-link {
    display: block;
}

.chat-link {
    transition: 0.4s;
}

.chat-link:hover {
    transform: scale(1.2);
}

.chat-modal {
    padding: 0;
    border: none;
    border-radius: 0;
}

.chat-modal::before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    height: 100%;
    width: 4px;
    background: #CB463D;
    background: linear-gradient(90deg, #cb463d, #e5ab37);
    background-position: 50px 0;
    background-size: 400% 400%;
    animation: pulse-color 1s ease-in infinite;
    z-index: 1;
}

.chat-text {
    font-size: 12px;
    margin: -28px 0 0 0;
    font-weight: 700;
    position: relative;
}

.chat__header-top {
    padding: 40px 31px 30px 60px;
    background: #e8e8e8;
}

.chat__header-text {
    color: #9a9a9a;
    margin-right: 36px;
    float: left;
}

.chat__lang .choice-lang {
    float: left;
}

.chat__online {
    color: #9a9a9a;
    float: right;
}

.chat__header-bot {
    padding: 12px 46px 0 52px;
    background: #232323;
}

.chat__tab {
    float: left;
    padding: 9px 23px 9px 19px;
    background: #232323;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.chat__tab-close {
    font-size: 14px;
    color: #9a9a9a;
    float: left;
}

.chat__tab-lang {
    float: right;
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

.chat__tab-active {
    background: #fff;
}

.chat__tabs {
    float: left;
}

.chat__icons {
    float: right;
    padding-top: 3px;
}

.chat__icons img{
    width: 26px;
}

.chat__mail-ico {
    margin-left: 33px;
}

.chat__massage-list {
    padding: 59px 49px 13px 49px;
    background: #fff;
    height: calc(100vh - 131px - 98px - 51px);
    min-height: 492px;
}

.chat__massage {
    background: #ced6dc;
    padding: 8px 27px 11px 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 20px 0 rgba(47, 47, 47, 0.1);
}

.chat__massage-sender {
    text-align: left;
    font-weight: 900;
    color: #fff;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.chat__massage-text {
    color: #9a9a9a;
    line-height: 1;
    text-align: left;
    font-size: 13px;
}

.chat__my-massage {
    background-image: -moz-linear-gradient(45deg, rgb(207, 112, 46) 0%, rgb(225, 159, 41) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(207, 112, 46) 0%, rgb(225, 159, 41) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(207, 112, 46) 0%, rgb(225, 159, 41) 100%);
}

.chat__my-massage .chat__massage-sender {
    text-align: right;
    color: #434343;
}

.chat__my-massage .chat__massage-text {
    text-align: right;
    color: #fff;
}

.chat__send-mail {
    background: #e8e8e8;
    padding: 26px 47px 58px 49px;
    position: relative;
    z-index: 0;
}

.send-svg{
    position: absolute;
    width: 25px;
    top: 37px;
    right: 74px;
    pointer-events:none;
}

.chat__input-massage {
    padding: 13px 90px 13px 11px;
    border: none;
    border-radius: 3px;
    background: #fff;
    position: relative;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #A5A5A5;
}

::-moz-placeholder {
    color: #A5A5A5;
}

:-moz-placeholder {
    color: #A5A5A5;
}

:-ms-input-placeholder {
    color: #A5A5A5;
}

.chat__send-massage {
    border-radius: 3px;
    background: #CB463D;
    background:  linear-gradient(45deg, rgb(194, 72, 58) 0%, rgb(237, 188, 44) 100%);
    background-size: contain;
    position: absolute;
    right: 49px;
    top: 28px;
    width: 76px;
    height: 43px;
    border: none;
    outline: none;
    transition: .2s;
    cursor: pointer;
}

.chat__send-massage:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.chat-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #1b1e21;
    font-weight: 500;
    cursor: pointer;
}

.inSite-top {
    padding-top: 25px;
    padding-bottom: 3px;
    background: #f7f7fa;
}

.cash {
    padding-top: 28px;
}

.cash__replenish-btn {
    float: left;
    margin-left: 72px;
    margin-top: 35px;
    margin-right: 39px;
}

.cash__name {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.cash__current-account {
    font-size: 14px;
    font-weight: 900;
    border-radius: 4px;
    color: #000;
    padding: 11px 50px 12px 65px;
    background: url("../img/table-coin.png") no-repeat center left;
    background-position-x: 15px;
    border: 1px solid #f3802c;
}

.cash__curr {
    float: left;
    text-align: center;
    margin-right: 25px;
}

.cash__name {
    margin-bottom: 11px;
}

.cash::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 630px;
    bottom: 0;
    left: 0;
    background: #E19F29;
    background: linear-gradient(45deg, rgba(225, 159, 41, 0) 0%, rgb(225, 159, 41) 70%, rgb(207, 112, 46) 100%);
    background-position: 0 50px;
    background-size: 400% 400%;
    animation: pulse-color 2s ease-in infinite;
}

.right-btn {
    float: right;
    padding-top: 69px;
    position: relative;
    z-index: 10;
}

.back-btn {
    background-color: rgb(239, 239, 242);
    border-radius: 10px;
    padding: 10px 21px 11px 20px;
    color: #ccd7dd;
}

.back-btn i {
    margin-right: 11px;
}

.settings {
    color: #ccd7dd;
    background-color: rgb(239, 239, 242);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 18px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-btn a:hover {
    color: #0b2e13;
}

.mines-the-game {
    padding-top: 33px;
    padding-bottom: 60px;
    position: relative;
    background: #f7f7fa;
}

.mines-the-game::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 630px;
    bottom: 22px;
    left: 17%;
    background: #E19F29;
    background: linear-gradient(45deg, rgb(207, 112, 46) 0%, rgb(225, 159, 41) 70%, rgba(225, 159, 41, 0) 100%);
    background-position: 0 50px;
    background-size: 400% 400%;
    animation: pulse-color 2s ease-in infinite;
}


.game__settings-form {
    background: #fff;
    box-shadow: 0 0 20px 5px #ccd7dd;
    border-radius: 25px;
    overflow: hidden;
}

.form__money-wrap {
    text-align: left;
    margin-bottom: 24px;
}

.inputSum {
    padding: 8px 10px;
    width: 172px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid #cad4da;
    outline: none;
}

.form__label {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 9px;
}

.factorBtn,
.form__min-label {
    font-weight: 700;
    color: #fff;
    border: 2px solid rgb(237, 102, 79);
    border-radius: 5px;
    background-image: -moz-linear-gradient(45deg, rgb(235, 80, 55) 0%, rgb(247, 164, 37) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(235, 80, 55) 0%, rgb(247, 164, 37) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(235, 80, 55) 0%, rgb(247, 164, 37) 100%);
    padding: 8px 10px;
    margin-right: 6px;
    outline: none;
    transition: 0.3s;
}

.factorBtn:hover,
.form__min-label:hover {
    background-image: -moz-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -webkit-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -ms-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    box-shadow: 0 0 20px 6px rgb(235, 80, 55);
}

.checkbox_hidden {
    display: none;
}

.checkbox_hidden:checked + label {
    background-image: -moz-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -webkit-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -ms-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    box-shadow: 0 0 20px 6px rgb(235, 80, 55);
}

.form__min-label {
    width: 43px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
}

.min-custom-number {
    display: none;
}

.min-custom-label {
    font-size: 13px;
    color: rgb(235, 77, 56);
    font-weight: 700;
    padding: 8px 28px;
    border: 2px solid rgb(235, 77, 56);
    border-radius: 3px;
    transition: 0.3s;
}

.min-custom-label:hover {
    border: 2px solid rgb(247, 211, 16);
    box-shadow: 0 0 15px 2px rgb(235, 77, 56);
}

.min-custom-number-settings:checked + label {
    color: #fff;
}

.min-custom-number-settings:checked + label + .min-custom-number {
    display: block;
}

.min-custom-number {
    position: absolute;
    top: 36px;
    left: 260px;
    border: none;
    outline: none;
}

.form__mine-wrap {
    position: relative;
    margin-bottom: 27px;
}

.press-to-play {
    width: 100%;
}

.form__left {
    float: left;
    padding: 26px 63px 0 60px;
    width: 43%;
    height: 100%;
}

.form__right {
    float: right;
    padding: 26px 15px 26px 64px;
    background: #ccd7dd;
    width: 57%;
}

.bomb-coin-ratio {
    margin-top: 264px;

}

.coin-ratio {
    background: url("../img/extra-coin.png") no-repeat center left;
    -webkit-background-size: 100%;
    background-size: contain;
    padding: 20px 3px 16px 46px;
    margin-right: 130px;
    font-weight: 700;
    color: #f59d26;
}

.bomb-ratio {
    background: url("../img/bomb.png") no-repeat center left;
    -webkit-background-size: 100%;
    background-size: contain;
    padding: 20px 3px 16px 70px;
    font-weight: 700;
    color: #ec5736;
}

.play-button {
    display: inline-block;
    border-radius: 18px;
    background-color: rgb(133, 162, 180);
    width: 106px;
    height: 107px;
    border: none;
    outline: none !important;
    background-size: 0 0;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.play-button:hover {
    transform: scale(0.9);
}

.statistics {
    padding-top: 44px;
    padding-bottom: 54px;
}

.tablinks {
    text-align: center;
    border: none;
    background: none;
    font-weight: 700;
    outline: none !important;
    cursor: pointer;
    margin-right: 60px;
    margin-bottom: 34px;
    animation: fadeEffect 1s linear;
}

.tab-active {
    background-image: -moz-linear-gradient(45deg, #ea443a 0%, #f59728 100%);
    background-image: -webkit-linear-gradient(45deg, #ea443a 0%, #f59728 100%);
    background-image: -ms-linear-gradient(45deg, #ea443a 0%, #f59728 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: fadeEffect 1s linear;
}

.tab-active::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #eb4939;
    left: 0;
    bottom: -1px;
    animation: fadeEffect 1s linear;
}

.game__statistics {
    caption-side: bottom;
}

tr > td:last-child {
    margin: 0;
}

table {
    border-collapse: separate;
}

.table-title {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 30px !important;
    display: inline-block;
    color: #000;
}

.td-bet {
    background: url("../img/mini-coin-table.png") no-repeat center left;
    background-position-x: 62px;
}

.td-money {
    color: #f7a226;
}

.td-positive {
    color: #2bc024;
}

.td-negative {
    color: #e21e1e;
}

.td-profit-pay {
    float: left;
}

.td-profit {
    padding-left: 49px;
    background: url("../img/mini-coin-table.png") no-repeat center left;
    background-position-x: 25px;
}

td {
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    color: #ccd7dd;
    padding: 11px 0;
}

.table-title-game,
.td-game {
    width: 279px;
    text-align: left;
}

.table-title-time,
.td-time {
    width: 212px;
}

.table-title-bet,
.td-bet {
    width: 255px;
}

.table-title-rate,
.td-rate {
    width: 211px;
}

.table-title-profit,
.td-profit {
    width: 149px;
    text-align: right;
}

.table-title:last-child {
    padding-right: 0;
}

.td-game {
    background: url("../img/mini-bomb.png") no-repeat center left;
    padding-left: 45px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.revealed {
    background-color: #6881a7;
    pointer-events: none;
    background-size: auto 55px;
}

.shake {
    animation: pop 0.3s linear 1;
}

@keyframes pop {
    50% {
        transform: scale(1.1);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.bright-button {
    background-image: -moz-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
    background-image: -webkit-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
    background-image: -ms-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
}

@keyframes pulse-color {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.inSite-area {
    background: #f7f7fa;
    padding-top: 55px;
    padding-bottom: 100px;
}

.inSite__menu {
    padding: 30px 0 70px 0;
    border-radius: 5px;
    width: 218px;
}

.inSite__menu-list {
    padding-left: 50px;
}

.cool-hover {
    border: 1px solid transparent;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 0 30px 5px rgba(48, 48, 48, 0.2);
    float: left;
}

.cool-hover:hover {
    border-color: rgb(242, 131, 44);
}

.inSite__title {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.inSite__menu-link-games {
    background: url("../img/games-ico.svg") no-repeat center left;
}

.inSite__menu-link-stock {
    background: url("../img/stock-ico.svg") no-repeat center left;
}

.inSite__menu-link-fight {
    background: url("../img/fight-ico.svg") no-repeat center left;
}

.inSite__menu-link-lottery {
    background: url("../img/lottery-ico.svg") no-repeat center left;
}

.inSite__menu-link-winners {
    background: url("../img/winners-ico.svg") no-repeat center left;
}

.inSite__menu-link-help {
    background: url("../img/help-ico.svg") no-repeat center left;
}

.inSite__menu-link {
    color: rgb(204, 215, 221);
    text-align: left;
    font-weight: 900;
    padding-left: 50px;
    margin: 10px 0;
    display: inline-block;
    -webkit-background-size: 20px 16px;
    background-size: 20px 16px;
    transition: 0.2s;
}

.inSite__menu-link:hover {
    color: rgb(233, 67, 58);
    transform: scale(1.2);
}

.contact-data {
    color: #fff;
}

.form__title {
    font-weight: 900;
    color: rgb(204, 215, 221);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.contact-data {
    padding: 18px 34px 50px 36px;
    margin-left: 30px;
    width: 400px;
}

.contact__label {
    font-size: 13px;
    color: rgb(99, 99, 99);
    text-align: left;
    font-weight: 400;
    width: 100%;
    line-height: 1;
    margin: 0;
    cursor: pointer;
}

.contact-email-input {
    width: 155px;
    float: left;
    padding: 10px 10px;
}

.contact-sbm-btn {
    float: right;
    padding: 9px 15px;
}

.contact-checkbox {
    display: none;
}

.check-label {
    position: relative;
    padding-left: 33px;
    margin: 14px 0;
}

.check-label:before {
    content: "";
    display: block;
    position: absolute;
    background: #ccd7dd;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    top: 50%;
    left: 0;
}

.contact-checkbox:checked + .check-label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 900;
    color: #969696;
    text-align: center;
    line-height: 16px;
}

.contact-input {
    margin-bottom: 34px;
}

.personal-data {
    width: 432px;
}

.personal-input {
    width: 191px;
    margin-bottom: 21px;
    padding: 10px 10px;
}

.label-for-birth {
    margin-bottom: 24px;
}

.birth-input {
    float: left;
    width: 41px;
    margin-right: 18px;
    padding: 10px 10px;
    margin-bottom: 25px;
}

.birth-year {
    width: 72px;
    margin-right: 0;
}

.personal-sbm-btn {
    padding: 9px 15px;
}

.upload-img {
    display: none;
}

.upload-img-label {
    font-size: 13px;
    color: rgb(236, 90, 53);
    text-decoration: underline;
    text-align: center;
    float: right;
    width: 116px;
    cursor: pointer;
}

.upload-img-label img {
    width: 116px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.personal-left {
    float: left;
    width: 192px;
}

.personal-right {
    float: right;
    width: 168px;
    padding-top: 22px;
}

.inSite-mobile-menu {
    display: block;
    position: fixed;
    width: 218px;
    height: auto;
    top: 0;
    left: -218px;
    transition: left .2s;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 30px 5px rgba(48, 48, 48, 0.2);
    border: 2px solid rgb(242, 131, 44);
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    position: fixed;
    height: 40px;
    width: 20px;
    padding-top: 8px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #fff;
    left: 0;
    top: 10%;
    transition: .2s;
    z-index: 10;
    border: 2px solid rgb(242, 131, 44);
    border-left: none;
    display: none;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 216px;
}

.btn-menu > i {
    transition: .2s;
}

.hidden-menu-ticker:checked ~ .btn-menu > i {
    transform: rotate(180deg);
}

.hidden-menu-ticker:checked ~ .inSite-mobile-menu {
    left: 0;
}

.rooms__title {
    font-weight: 900;
    color: #ccd7dd;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    margin-bottom: 20px;
}

.some__rooms {
    padding-left: 22px;
    float: left;
    padding-top: 10px;
}

.create-room-btn-wrap {
    margin-bottom: 45px;
}

.room-item {
    width: 100%;
    margin: 8px 0;
    padding: 12px 28px 16px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 10px 0 30px 0 rgba(48, 48, 48, 0.1);
    transition: 0.2s;
}

.room__text {
    font-size: 13px;
    color: rgb(237, 90, 53);
    font-weight: 900;
    display: inline-block;
    text-transform: uppercase;
    padding: 3px 0;
}

.room-user-bg {
    background: url("../img/mini-user-ico.svg") no-repeat center left;
}

.room-user {
    text-align: left;
    width: 211px;
    padding-left: 40px;
}

.room-user-left {
    padding: 0;
    margin-right: 17px;
}

.room-rate {
    text-align: center;
    width: 77px;
    margin-right: 110px;
}

.room-field {
    text-align: center;
    width: 109px;
}

.into-game {
    font-size: 12px;
    font-weight: 900;
    color: #ED5A35;
    border-radius: 3px;
    border: 1px solid #ED5A35;
    padding: 8px 24px;
    transition: 0.2s;
    margin-left: 150px;
}

.into-game:hover {
    background-image: -webkit-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
}

.room-item:hover {
    transform: scale(1.05);
}

.chat-target{
    display: none;
}

.chat-target:checked ~ .chat {
    right: 0;
}

.chat-target:checked ~ .chat-block{
    display: none;
}

.chat{
    position: fixed;
    right: -500px;
    top: 0;
    transition: .3s;
    width: 500px;
    z-index: 30;
}

.chat__tab{
    border:none;
}

.add-room-content{
    padding: 2px 2px 2px 16px;
}

.add-room-smb {
    height: 192px;
    width: 23%;
    float: right;
    margin-top: -19px;
}

.room-inputs{
    float: left;
    width: 77%;
}

.room-inputs .modal_input{
    font-weight: 900;
}

.room-inputs .modal_title{
    margin-bottom: 23px;
}

.add-room-modal{
    padding-top: 19px;
}

.add-room-btn{
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
    background-image: -webkit-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
    background-image: -ms-linear-gradient(45deg, rgb(233, 67, 58) 0%, rgb(248, 174, 35) 99%);
    font-weight: 900;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
}

.add-room-btn:hover{
    background-image: -moz-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -webkit-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    background-image: -ms-linear-gradient(-45deg, rgb(235, 53, 20) 0%, rgb(247, 211, 16) 100%);
    box-shadow: 0 0 20px 6px rgb(235, 80, 55);
}

.modal-select{
    font-weight: 900;
}

#moral-rate-input::-webkit-input-placeholder {
    color:#d7dfe4;
}

#moral-rate-input::-moz-placeholder {
    color:#d7dfe4;
}

#moral-rate-input:-moz-placeholder {
    color:#d7dfe4;
}

#moral-rate-input:-ms-input-placeholder {
    color:#d7dfe4;
}

.add-room-dialog{
    max-width: 520px;
    margin: 12% auto 0 auto;
}

.room-inputs .modal_input{
    width: 260px;
    color:#d7dfe4;
}

.modal-select option{
    color:#d7dfe4;
    font-weight: 900;
}

.label-for-rate{
    width: 98px;
}

.add-room-input-wrap{
    margin: 17px 0;
}