@media screen and (max-width: 1199px) {
    .menu__list-item {
        margin-left: 30px;
    }

    .lang-menu-item {
        margin-left: 6px;
    }

    .stats__list:before {
        height: 405px;
    }

    .stats__item:last-child {
        margin-left: 81px;
    }

    .owl-carousel {
        margin-top: 51px;
    }

    ._image-fox-circle {
        margin: -49% -48%;
        top: 583px;
    }

    .stats__list:before {
        display: none;
    }

    .cash__replenish-btn {
        margin-left: 0;
        margin-right: 19px;
    }

    .cash__curr {
        margin-right: 17px;
    }

    .cash__curr:last-child {
        margin-right: 0;
    }

    .form__left {
        padding: 26px 24px 0 22px;
    }

    .form__right {
        padding: 20px;
    }

    .play-button {
        width: 95px;
        height: 96px;
    }

    .bomb-coin-ratio {
        margin-top: 214px;
    }

    .table-title-game, .td-game {
        width: 177px;
    }

    .table-title-time, .td-time {
        width: 200px;
    }

    .table-title-bet, .td-bet {
        width: 200px;
    }

    .table-title-rate, .td-rate {
        width: 200px;
    }

    .td-bet {
        background-position-x: 37px;
    }

    .inSite__menu {
        width: 149px;
    }

    .inSite__menu-list {
        padding-left: 10px;
    }

    .inSite__title {
        margin-bottom: 19px;
    }

    .contact-data {
        padding: 18px 23px 50px 19px;
        margin-left: 15px;
        width: 342px;
    }

    .personal-data {
        width: 408px;
    }

    .footer::before {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .menu__open {
        display: block;
    }

    ._image-foxicash {
        top: 1206px;
    }

    .stats__list {
        display: flex;
        justify-content: center;
    }

    .stats__item:last-child {
        margin-left: 43px;
    }

    .carousel__box {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .game__wrap {
        padding: 23px 35px 38px 230px;
    }

    ._image-20 {
        left: 352px;
    }

    .footer__menu {
        margin-left: 41px;
    }

    .footer__menu:first-child {
        margin-left: 26px;
    }

    .choice-lang_right {
        float: right;
    }

    .foxy-logo-mines img {
        position: absolute;
        width: auto;
        height: 100px;
        margin-top: -50px;
        margin-left: -56px;
        left: 50%;
        top: -78px;
    }

    .cash::before {
        width: 100%;
        bottom: -15px;
    }

    .mines-money {
        float: right;
    }

    .right-btn {
        float: right;
        padding-top: 39px;
        padding-bottom: 5px;
    }

    .form__left {
        padding: 26px 30px 38px 30px;
        width: 100%;
    }

    .form__right {
        padding: 50px 0;
        width: 100%;
    }

    .play-button {
        width: 100px;
        height: 100px;
    }

    .play-field {
        margin: 0 auto;
        width: 515px;
    }

    .bomb-coin-ratio {
        position: absolute;
        margin: 0;
        top: 40px;
        right: 136px;
    }

    .coin-ratio {
        display: block;
        margin: 0 0 35px 0;
        padding-left: 65px;
    }

    .bomb-ratio {
        display: block;
    }

    .mines-the-game::before {
        width: 100%;
        left: 0;
    }

    .table-title-game, .td-game {
        width: 100px;
    }

    .table-title-time, .td-time {
        width: 108px;
    }

    .table-title-bet, .td-bet {
        width: 132px;
    }

    .table-title-rate, .td-rate {
        width: 167px;
    }

    .td-bet {
        background-position-x: 2px;
    }

    .inSite__menu {
        display: none;
    }

    .contact-data {
        padding: 15px 15px 50px 15px;
        margin-left: 0;
        width: 329px;
    }

    .personal-right {
        float: none;
        width: 100%;
        padding-top: 0;
    }

    .upload-img-label {
        float: none;
        width: 116px;
        display: block;
        margin: 0 auto;
    }

    .personal-left {
        float: none;
        width: 192px;
        margin: 0 auto;
        text-align: center;
    }

    .personal-data {
        width: 231px;
        float: right;
    }

    .inSite-mobile-menu{
        display: block;
        width: 218px;
    }

    .btn-menu {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .header__title {
        font-size: 78px;
    }

    ._image-foxicash {
        top: 1069px;
    }

    .footer__menu {
        margin-left: 20px;
    }

    .footer__menu:first-child {
        margin-left: 0;
    }

    .footer__bot {
        margin-top: 40px;
    }

    .footer__menu {
        margin-right: 35px;
    }

    .footer__menu:first-child {
        margin-left: 60px;
    }

    .mines-game:after {
        width: 100%;
    }

    .hat:after {
        width: 100%;
    }

    .stats:before {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .stats:after {
        width: 100%;
        left: 0;
        margin: 0;
    }

    ._image-fox {
        margin: -50%;
        top: 380px;
    }

    ._image-fox-bg {
        margin: -50%;
    }


    .modal_input {
        width: 205px;
    }

    .modal-dialog {
        margin: 20px auto;
    }

    .help-link {
        float: none;
    }

    .help-link-wrap {
        text-align: center;
    }

    .bomb-coin-ratio {
        right: 34px;
    }

    .play-field {
        width: 490px;
    }

    .form__right {
        width: 100%;
    }

    .table-title-time, .td-time {
        display: none;
    }

    .table-title-bet, .td-bet {
        display: none;
    }

    .table-title-game, .td-game {
        width: 95px;
    }

    .game__statistics {
        width: 100%;
    }

    .table-title-profit, .td-profit {
        width: 30%;
        float: right;
    }

    .table-title-game, .td-game {
        width: 20%;
    }

    .table-title-rate, .td-rate {
        width: 50%;
    }

    .play-button {
        width: 95px;
        height: 95px;
    }

    .footer__menu {
        margin: 0;
        float: none;
        text-align: center;
    }

    .footer__menu:first-child {
        margin: 0;
    }

    .footer__list-title {
        margin-bottom: 0;
    }

    .footer__list {
        margin-top: 30px;
    }

    .personal-left {
        width: 206px;
    }

    .contact-data {
        padding: 15px 20px 50px 20px;
        width: 400px;
        margin: 0 auto 40px auto;
        float: none;
    }

    .personal-data {
        width: 400px;
        float: none;
    }

    .birth-input {
        width: 41px;
    }

    .birth-year {
        width: 72px;
    }
}

@media screen and (max-width: 575px) {
    .modal-content {
        width: 300px;
        padding: 30px 10px 30px 10px;
        margin: 0 auto;
    }

    .hat__btn {
        padding: 8px 18px;
    }

    .menu__open {
        top: 33px;
    }

    ._image-fox {
        top: 253px;
    }

    ._image-fox-bg {
        top: 161px;
    }

    .header__title-wrap {
        margin-top: 473px;
        font-size: 52px;
    }

    ._image-foxicash {
        top: 598px;
    }

    .stats__list {
        display: block;
    }

    .stats__item {
        margin: 0 auto;
        float: none;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .stats__item:last-child {
        margin: 0 auto;
    }

    .stats__item:first-child {
        margin: 0 auto;
    }

    .stats__carousel {
        padding: 10px;
    }

    .carousel__title {
        text-align: center;
    }

    .carousel__text {
        padding-top: 99px;
        padding-bottom: 5px;
        padding-left: 0;
        background-position: top center;
    }

    .nav-owl {
        top: 41%;
    }

    .game__wrap {
        padding: 10px;
    }

    .game__wrap {
        margin-top: 31px;
        margin-bottom: 52px;
        padding: 20px 20px 30px 20px;
        text-align: center;
    }

    ._image-mines-game {
        display: none;
    }

    .more-games {
        margin-bottom: 56px;
    }


    .chat__header-top {
        padding: 36px 19px 30px 25px;
    }

    .chat__header-bot {
        padding: 18px 6px 0 7px;
    }

    .chat__tab {
        padding: 9px 19px 9px 10px;
    }

    .chat__massage-list {
        padding: 36px 25px 7px 25px;
    }

    .chat__send-mail {
        padding: 26px 25px 42px 25px;
    }

    .chat__send-massage {
        right: 28px;
    }

    .modal-dialog {
        max-width: 300px;
        margin: 1.75rem auto;
    }

    .chat-modal {
        padding: 0;
    }

    .play-button {
        width: 19%;
        height: 84px;
        display: inline-block;
    }

    .bomb-coin-ratio {
        display: none;
    }

    .form__right {
        padding: 16px 0;
    }

    .play-button {
        width: 54px;
        height: 61px;
    }

    .play-field {
        width: 285px;
    }

    .tablinks:first-child {
        float: left;
        margin-right: 0;
    }

    .tablinks:last-child {
        float: right;
        margin-right: 0;
    }

    .td-negative {
        float: right;
    }

    .td-positive {
        float: right;
    }

    .td-profit-pay {
        float: right;
    }

    .td-profit {
        padding-left: 17px;
        background-position-x: 32px;
        background-position-y: 16px;
    }

    .foxy-logo-mines img {
        height: 75px;
        margin-top: -37px;
        margin-left: -42px;
        left: 50%;
        top: -68px;
    }

    .mines-money {
        float: none;
    }

    .cash__replenish-btn {
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
    }

    .cash__curr {
        float: none;
        margin: 15px 0 0 0;
    }

    .cash__name {
        margin-bottom: 3px;
    }

    .form__money-wrap {
        text-align: center;
    }

    .inputSum {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .form__mine-wrap {
        text-align: center;
    }

    .min-custom-number {
        top: 84px;
        left: 98px;
    }

    .container {
        width: 320px;
    }

    .revealed {
        background-size: auto 37px;
    }

    .contact-data {
        width: 300px;
    }

    .personal-data {
        width: 300px;
    }

    .contact-sbm-btn {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 16px;
    }

    .contact-email-input {
        float: none;
        padding: 10px 10px;
        display: block;
        margin: 0 auto;
    }
    .correct-labell{
        padding-left: 29px;
    }

    .inSite-area {
        padding-bottom: 39px;
    }
}
