@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.svg#svgFontName') format('svg');

    font-weight: 100;

    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.svg#svgFontName') format('svg');

    font-weight: 100;

    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#svgFontName') format('svg');

    font-weight: 300;

    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.svg#svgFontName') format('svg');

    font-weight: 300;

    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#svgFontName') format('svg');

    font-weight: 500;

    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#svgFontName') format('svg');

    font-weight: 500;

    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#svgFontName') format('svg');

    font-weight: 900;

    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.svg#svgFontName') format('svg');

    font-weight: 900;

    font-style: italic;
}