@media screen and (max-width:1199px) {
    .relocation {
        height: auto;
    }

    .more__btn {
        margin-bottom: 50px;
    }

    .property {
        height: auto;
    }

    .review__top-line div:last-child {
        float: left;
        padding: 10px 0 0 0;
    }

    .consultation {
        height: auto;
    }

    form {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:991px) {
    h1 {
        font-size: 64px;
        letter-spacing: 20px;
    }

    .header__title {
        margin: -75px -250px;
    }

    .header__title span {
        font-size: 44px;
        letter-spacing: 5px;
    }

    .number__menu_contacts {
        padding: 28px 0 0 0;
    }

    .arrow__down_contacts {
        top: 70%;
    }

    .merit__item {
        margin-top: 50px;
        margin-bottom: 0;
        height: 370px;
    }

    .merit__item_margin {
        margin-top: 10px;
        margin-bottom: 50px;
        height: auto;
    }

    .content__block {
        width: 100%;
        padding: 55px 20px 60px 20px;
        background: #f7f7f7;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contacts__item {
        padding-left: 50px;
    }

    .form-contacts__form {
        width: 55%;
        padding: 15px 32px 0px 32px;
    }

    .content__block_property {
        padding: 55px 40px 60px 40px;
    }

    .partner__item {
        height: 600px;
    }

    .partner__text {
        font-weight: 300;
        font-size: 15px;
    }

    .review__left {
        left: -12px;
    }

    .review__right {
        right: -19px;
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 30px;
    }

    .merit__item_margin {
        margin-top: 50px;
    }

    .review__top-line div:last-child {
        float: left;
        padding: 10px 0 0 0;
    }

    .review_img {
        left: 45px;
    }

    .contacts__item {
        padding: 45px 0 0 0;
        background-position: center top !important;
        text-align: center;
    }

    .content__contacts {
        float: none;
    }

    .form-contacts__form {
        float: none;
        width: 100%;
        padding-bottom: 1px;
        margin-top: 70px;
    }

    .content__property_partners div {
        width: 100%;
        height: auto;
    }

    .review__top-line div {
        float: none;
    }
}

@media screen and (max-width:575px) {
    h1 {
        font-size: 40px;
        letter-spacing: 10px;
    }

    .header__title {
        margin: -50.5px -146px;
    }

    .header__title span {
        font-size: 30px;
        letter-spacing: 3px;
    }

    .review__item {
        margin-top: 150px;
    }

    .review__name {
        margin-right: 0;
    }

    .review__img {
        top: -60px;
        left: 50%;
    }

    .review__content {
        margin: 0;
        text-align: center;
    }

    .review__top-line div {
        float: none;
    }

    .review__top-line div:last-child {
        float: none;
        padding: 10px 0 0 0;
    }

    .header__title_other_property h1 {
        font-size: 34px;
    }

    .carousel-element {
        padding: 20px 0px 10px 0px;
    }
}

@media screen and (max-width:500px) {
    .content__block {
        padding: 55px 0px 60px 0px;
    }

    .content__property div {
        width: 100%;
    }

    .content__block_property {
        padding: 55px 20px 60px 20px;
    }

    .content_right {
        position: relative;
        margin-top: 500px;
    }

    .content_right img {
        position: absolute;
        margin-top: -540px;
        left: -8px;
    }

    .content__property p {
        text-align: justify;
    }

    .content__property_partners .content_right {
        margin-top: 0;
    }

    .content__property_partners .content_right img {
        position: relative;
        margin-top: 0;
    }

    .content__block_property_partners {
        padding-bottom: 0;
    }
}

@media screen and (max-width:395px) {
    footer p {
        font-weight: 100;
        font-size: 9px;
    }

    .header__title_other h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    .content__block {
        width: 100%;
        padding: 30px 10px 40px 10px;
        background: #f7f7f7;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-contacts__form {
        padding: 15px 20px 1px 20px;
    }

    .form-contacts__form_title1 {
        font-size: 18px;
        font-weight: 900;
    }

    .form-contacts__form_title {
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .form-contacts__form_title3 {
        font-size: 14px;
        font-weight: 100;
    }

    .header__title_other_property h1 {
        font-size: 29px;
    }

    .content_right {
        margin-top: 395px;
    }

    .content_right img {
        margin-top: -500px;
    }
}