body {
    font-family: MuseoSansCyrl, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    min-width: 320px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 5px;
    color: #000;
    font-weight: 900;
}

.first__title {
    font-size: 90px;
}

.second-title {
    font-size: 42px;
    margin-bottom: 54px;
}

.third-title {
    font-size: 20px;
    letter-spacing: 3px;
}

ul,
li {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

header {
    position: relative;
    height: 100vh;
}

section,
footer {
    position: relative;
    padding-top: 80px;
    padding-bottom: 93px;
}