@font-face {
    font-family: Nautilus;
    src: url(../fonts/NautilusPompilius.ttf) format('truetype'),
        url(../fonts/NautilusPompilius.woff) format('woff');
}

@font-face {
    font-family: Isadora;
    src: url(../fonts/1IsadoraMBold.ttf) format('truetype'),
        url(../fonts/1IsadoraMBold.woff) format('woff');
}