html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

input,
textarea,
a {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    color: #fff;
}

.header {
    background: url(../img/header-bg.jpeg) no-repeat center top / cover;
    padding-bottom: 170px;
}

.head {
    background: rgba(0, 0, 0, 0.35);
}

.pizza__slide {
    outline: none;
}

.logo__text {
    font-size: 25px;
    font-family: 'Nautilus', sans-serif;
    -moz-transform: matrix(1, -0.13485275891962, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -0.13485275891962, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.13485275891962, 0, 1, 0, 0);
    line-height: 25px;
    float: left;
    margin-left: 11px;
}

.logo__text_color {
    color: #c59d5f;
}

.logo__img {
    float: left;
}

.head {
    padding-top: 33px;
    padding-bottom: 33px;
}

.head__menu_item {
    float: left;
    margin-right: 43px;
    margin-top: 10px;

}

.head__menu_item a {
    color: #fff;
    border-bottom: 1px solid #67635e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 0.2s;
}

.head__menu_item i {
    color: #67635e;
    font-size: 13px;
    margin-right: 5px;
    padding: 3px 5px;
    transition: 0.2s;
}

.head__menu_item:hover a {
    color: #c59d5f;
    border: none;
}

.head__menu_item:hover i {
    background: #c59d5f;
    border-radius: 50%;
}

.head__menu_item:last-child {
    margin-right: 0;
}

.contacts {
    float: right;
}

.contacts__desc {
    font-size: 12px;
    color: #67635e;
    float: right;
    line-height: 3px;
    margin-top: 11px;
    letter-spacing: 1.3px;
}

.contacts__telephone {
    font-size: 24px;
    font-family: Arial, sans-serif;
    float: right;
}

.contacts__lower {
    font-size: 16px;
}

.contacts__telephone i {
    color: #c59d5f;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pizza__slide {
    padding-left: 100px;
    padding-right: 100px;
}

.pizza__text {
    float: left;
    width: 360px;
    margin-top: 144px;
}

.pizza__img {
    float: right;
}

.pizza__name {
    font-family: Isadora, sans-serif;
    color: #fff;
    font-size: 52px;
}

.pizza__desc {
    font-size: 16px;
    color: #e0e0e0;
    width: 300px;
    margin-top: 25px;
}

.choose-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: #c59d5f;
    padding: 9px 30px;
    margin-top: 56px;
    display: inline-block;
    border: 3px solid transparent;
    transition: 0.2s;
    outline: none;
}

.choose-btn i {
    font-size: 12px;
    margin-right: 4px;
    margin-left: -4px;
}

.choose-btn:hover {
    border: 3px solid #fff;
    box-shadow: 0 0 25px 5px #c59d5f;
    color: #fff;
}

.slick-arrow {
    color: #c5c3c3;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transition: 0.2s;
}

.fa-chevron-left.slick-arrow {
    left: -30px;
}

.fa-chevron-right.slick-arrow {
    right: -30px;
}

.slick-arrow:hover {
    background: rgba(197, 157, 95, 0.2);
}

.menu-toggle {
    outline: none;
    display: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 35px;
    font-weight: bold;
}

.menu-toggle {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 99999;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
}

.menu-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, #c59d5f, #c59d5f 20%, transparent 20%, transparent 40%, #c59d5f 40%, #c59d5f 60%, transparent 60%, transparent 80%, #c59d5f 80%, #c59d5f 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

.menu-toggle:after {
    opacity: 0;
    content: '×';
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
}

.menu-toggle:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.menu-toggle:hover {
    opacity: 1;
}

.open .menu-toggle {
    opacity: 1;
}

.open .menu-toggle:before {
    opacity: 0;
    width: 0;
}

.open .menu-toggle:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

.phone-menu {
    z-index: 9999;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.phone-menu:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(201, 154, 99, 0.8);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0.04), translateY(9999px);
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
}

.open .phone-menu {
    top: 0;
}

.open .phone-menu:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    width: 100%;
}

ul.menu li {
    opacity: 0;
    text-align: left;
    -webkit-transform: translate3d(0, 36px, 0);
    transform: translate3d(0, 36px, 0);
}

ul.menu li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.14s ease-out;
}

ul.menu li:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}

ul.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999999;
    color: #fff;
}

ul.menu li:hover:after {
    opacity: 1;
    padding: 0 20px;
    -webkit-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
    transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}

.open ul.menu li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.open ul.menu li:nth-child(1) {
    transition-delay: 0.75s;
}

.open ul.menu li:nth-child(2) {
    transition-delay: 0.85s;
}

.open ul.menu li:nth-child(3) {
    transition-delay: 0.95s;
}

.open ul.menu li:nth-child(4) {
    transition-delay: 1.05s;
}

.open ul.menu li:nth-child(5) {
    transition-delay: 1.15s;
}

.open ul.menu li:nth-child(6) {
    transition-delay: 1.25s;
}

.open ul.menu li:nth-child(7) {
    transition-delay: 1.35s;
}

.open ul.menu li:nth-child(8) {
    transition-delay: 1.45s;
}

.open ul.menu li:nth-child(9) {
    transition-delay: 1.55s;
}

@-webkit-keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }

    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }

    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }

    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }

    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}