@media screen and (max-width:1199px) {
    .logo__text {
        margin-left: 5px;
    }

    .head__menu_item {
        margin-right: 7px;
    }

    .pizza__text {
        width: 288px;
        margin-top: 110px;
    }

    .pizza__img {
        width: 442px;
    }

    .slick-slide img {
        width: 100%;
    }

    .fa-chevron-left.slick-arrow {
        left: -50px;
    }

    .fa-chevron-right.slick-arrow {
        right: -50px;
    }
}

@media screen and (max-width:991px) {
    .menu-toggle {
        display: block;
    }

    .logo {
        width: 129px;
    }

    .pizza__slide {
        padding: 0;
    }

    .pizza__name {
        font-size: 46px;
    }

    .pizza__img {
        width: 402px;
    }
}



@media screen and (max-width:768px) {
    .pizza__text {
        width: 300px;
        margin-top: 20px;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    .pizza__img {
        width: 100%;
    }

    .pizza__img img {
        margin: -18px 0px 0px -21px;
    }

    .choose-btn {
        margin-top: 27px;
    }

    .fa-chevron-left.slick-arrow {
        left: 0px;
    }

    .fa-chevron-right.slick-arrow {
        right: 0px;
    }

    .slick-arrow {
        top: 40%;
    }

}

@media screen and (max-width:576px) {
    .logo {
        width: 129px;
        margin: 0 auto;
    }

    .pizza__name {
        font-size: 39px;
    }
}

@media screen and (max-width:400px) {
    .pizza__img img {
        margin: -18px 0px 0px -9px;
    }
}